# Игнорировать все .log файлы
*.log

# Игнорировать папку node_modules
node_modules/

# Игнорировать временные файлы VS Code
.vscode/

# Игнорировать все файлы с расширением .tmp
*.tmp

# Игнорировать папку build
build/

# Игнорировать файлы конфигурации
*.ini